<% @movies.each do |movie| %>
    <div class="movie">
      <%= movie.title %>
      <%= link_to "Show more", "#", :class => "show-more", :data => {:id => movie.id } %>
    </div>
    <div class="well well-hidden" id=<%= "movie-details-#{movie.id}" %>>
      <ul>
        <% movie.details.each do |k, v| %>
          <li><%= k %>: <%= v %></li>
        <%end%>
      </ul>
    </div>
<% end %>